@{
    ViewBag.Title = "Home Page";
}

<main class="text-center my-5 py-5">
    <div class="container">
        <h1 class="display-4 fw-bold mb-4"><span class="text-info">Welcome</span> to FinanceBro</h1>
        <p class="lead mb-5">Track, Save, Grow with FinanceBro - Take Control of Your Finances!</p>
    </div>
</main>